*{
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;  
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background-color: #1db954; 
  border-radius: 2px;       
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1db954df; 
  border: 1px solid white;
}
